.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback
.invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 1 !important;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.phx-modal-content {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #666;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.phx-modal-close {
  align-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  opacity: 1;
  position: absolute;
  right: -1rem;
  text-decoration: none;
  top: -1rem;
  transition: transform 100ms ease;
  width: 2rem;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  transform: scale(1.1);
}
